.PostsApp .app-list {
    margin-top: 30px;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.PostsApp .app-list .list-group-item {
    padding: 20px 35px 10px 35px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    display: block;
    padding: .75rem 1.25rem;
    position: relative;
}