.cell {
    flex: 1;
    aspect-ratio: 1 / 1;
    /* height: 20px; */
    border: 1px solid #c8c8c8;
    font-size: 10px;
    max-width: 20px;
    max-height: 20px;
}

/* .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #c8c8c8;
    font-size: 10px;
} */

.active {
    background-color: #be6a6a;
}